USE [POCTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 23-02-2026 17:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserRegistration
    SET 
        IsDeleted = 1,
        UpdatedDate = GETDATE()
    WHERE Id = @Id
END

GO
