USE [POCTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 23-02-2026 17:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @Id INT,
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @UpdatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserRegistration
    SET 
        Name = @Name,
        Email = @Email,
        UpdatedBy = @UpdatedBy,
        UpdatedDate = GETDATE()
    WHERE Id = @Id
END

GO
