USE [POCTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 23-02-2026 17:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUser]
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @Password NVARCHAR(100),
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UserRegistration
    (Name, Email, Password, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate, IsDeleted)
    VALUES
    (@Name, @Email, @Password, @CreatedBy, GETDATE(), @CreatedBy, GETDATE(), 0)
END

GO
