USE [POCTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsers]    Script Date: 23-02-2026 17:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM UserRegistration
    WHERE IsDeleted = 0
END

GO
