USE [POCTest]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 23-02-2026 17:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](100) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserRegistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRegistration] ON 

INSERT [dbo].[UserRegistration] ([Id], [Name], [Email], [Password], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (1, N'User1', N'user1@gmail.com', N'123', N'Admin', CAST(N'2026-02-23T16:20:10.203' AS DateTime), N'Admin', CAST(N'2026-02-23T16:20:10.203' AS DateTime), 0)
INSERT [dbo].[UserRegistration] ([Id], [Name], [Email], [Password], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (2, N'User2', N'user2@gmail.com', N'123', N'Admin', CAST(N'2026-02-23T16:20:10.203' AS DateTime), N'Admin', CAST(N'2026-02-23T16:20:10.203' AS DateTime), 0)
INSERT [dbo].[UserRegistration] ([Id], [Name], [Email], [Password], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (3, N'User3', N'user3@gmail.com', N'123', N'Admin', CAST(N'2026-02-23T16:20:10.203' AS DateTime), N'Admin', CAST(N'2026-02-23T16:20:10.213' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserRegistration] OFF
GO
ALTER TABLE [dbo].[UserRegistration] ADD  CONSTRAINT [DF_UserRegistration_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 23-02-2026 17:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserRegistration
    SET 
        IsDeleted = 1,
        UpdatedDate = GETDATE()
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsers]    Script Date: 23-02-2026 17:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM UserRegistration
    WHERE IsDeleted = 0
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 23-02-2026 17:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUser]
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @Password NVARCHAR(100),
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UserRegistration
    (Name, Email, Password, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate, IsDeleted)
    VALUES
    (@Name, @Email, @Password, @CreatedBy, GETDATE(), @CreatedBy, GETDATE(), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 23-02-2026 17:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @Id INT,
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @UpdatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UserRegistration
    SET 
        Name = @Name,
        Email = @Email,
        UpdatedBy = @UpdatedBy,
        UpdatedDate = GETDATE()
    WHERE Id = @Id
END

GO
